.container-fluid{
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/*Home*/
.container-fluid #intro img{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.container-fluid .welcome-title{
  position: relative;
  width: 100%;
  height: 100%;

}
.container-fluid .welcome-title .quote{
  font-family: 'Fredoka One', cursive;
  color: white;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-fluid .welcome-title .quote .welcome{
  color: #427F52;
  font-size: 120px;
  text-shadow: 9px 4px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
.container-fluid .welcome-title .quote .qoute2{
  margin-top: 30px;
  margin-left: 254px;
  font-size: 45px;
  text-shadow: 9px 4px 15px rgba(0, 0, 0, 0.4);
}
.container-fluid .btns-login{
  margin: 0;
  position: absolute;
  top: 67%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.container-fluid .btns-login .btn{
  margin: 0 10px;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
/*Recipes*/
.recipes-wrapper .recipes-title{
  padding-top: 70px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}
.recipes-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipes-wrapper .row .col-lg-9 .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.recipes-wrapper .row .col-lg-9 .row .col-lg-4 .recipe-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center;
}
.recipes-wrapper .row .col-lg-9 .row .col-lg-4 .recipe-container .gradient-img{
  background-color: rgba(255, 255, 111, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recipes-wrapper .row .col-lg-9 .row .col-lg-4 .recipe-container .recipe-title{
  font-size: 18px;
  position: absolute;
  top: 10px;
  width: 90%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}
.recipes-wrapper .row .col-lg-9 .row .col-lg-4 .recipe-container .descript-text{
  font-size: 16px;
  position: absolute;
  color: white;
  text-shadow: 1px 1px black;
}
.recipes-wrapper .row .col-lg-9 .row .col-lg-4 .recipe-container .cal{
  left: 0;
  bottom: 0;
  margin-left: 10px;
}
.recipes-wrapper .row .col-lg-9 .row .col-lg-4 .recipe-container .time{
  right: 0;
  bottom: 0;
  margin-right: 10px;
}
.recipes-wrapper .pages{
  position: absolute;
  bottom: 0;
  left: 50%;
}

/*Recipe*/
.content-wrapper{
  padding-top: 50px;
}
.content-wrapper .container .written{
  padding-bottom: 20px;
}
.content-wrapper .container .reviews-chef{
  padding-bottom: 20px;
}
.content-wrapper .container .cook-addit{
  padding: 0 0 0 20px;
}

/*Register*/
.container-fluid .intro3 img{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*Login*/
.container-fluid .intro4 img{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.panel{
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding-top: 70px;
  position: relative;
  transition: 1s;
}
.panel:hover{
  background: rgba(0, 0, 0, 0.7);
}
.panel .color{
  margin: 0;
  padding: 0;
  color: #F9DF05;
}
.panel span .fab{
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 10px;
  -webkit-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
  box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
}
.panel span .fa-facebook-square{
  color: #3B5998;
  font-size: 32px;
}
.panel span .fa-twitter-square{
  color: #1DA1F2;
  font-size: 32px;
}
.panel span .fa-google-plus-square{
  color: red;
  font-size: 32px;
}
.panel .lock .fa-lock{
  position: absolute;
  top: -50px;
  left: 37%;
  width: 100px;
  height: 100px;
  line-height: 90px;
  text-align: center;
  background: linear-gradient(DarkSlateGray, Cyan);
  background: -webkit-linear-gradient(DarkSlateGray, Cyan);
  background: -moz-linear-gradient(DarkSlateGray, Cyan);
  border: 3px outset #F4E10A;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: -10px 10px 20px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: -10px 10px 20px 0px rgba(255,255,255,0.5);
  box-shadow: -10px 10px 20px 0px rgba(255,255,255,0.5);
}
.panel .btn-primary{
  border: 0;
  border-radius: 0;

}
/*Dashboard*/
.dashboard{
  padding-top: 55px;
}
.dashboard .welcome{
  color: white;
}

/*About*/
.container-fluid .intro2 img{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.container-fluid .about-text{
  background-color: rgba(128, 128, 128, 0.6);
  text-shadow: 9px 4px 15px rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 40px;
  line-height: 2;
}
.container-fluid .about-text .about-title{
  text-align: center;
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 20px;
}
.container-fluid .about-text .text{
  font-size: 16px;
}
/*Edit recipe*/
.container .edit-title{
  padding-top: 50px;
}
.well {
   background-color: rgba(245, 245, 245, 0.4);
}

#chart{
  margin: 50px 0 0 0;
  
}
