{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h1>About Us</h1>
  <p>
    An essential part of becoming a Healthier You is making healthy choices.
    This part of the website will give you some of the ways to stay on track.
    One of the simplest and most effective healthy choices you can make is to
    know what you are eating. Cooking at home is one sure-fire way to plan and
    keep track of calories, portion sizes, nutrients, and all of that other
    good stuff. Unfortunately, many people avoid cooking at home either because
    they feel that their cooking skills aren't up to par, don't have the
    time, or prefer the taste and quality of meals eaten out. This doesn't
    have to be the case! If you are one of those people, don't worry, we
    can help!
  </p>

  <p>
    Here are almost 50 easy-to-make, fun, and delicious recipes.
    They are heart healthy. We know that because they were developed
    by researchers and nutritionists with the HHS National Institutes of Health.
     No advanced cooking skills required, and they taste great.
  </p>
  <p>
    There are multi-cultural dishes for a variety of tastes, and the best
    part is that each one is healthy. And you will know that because nutrition
    information is provided for each recipe. This information includes calories,
    total fat, saturated fat, cholesterol, and sodium for all recipes.
    Since you can see the ingredients, you know EXACTLY what is in each serving
    you eat. A great advantage to cooking your own food that nothing is HIDDEN.
    We hope you will enjoy the recipes and experiment a little! Make them your
    own. But be aware of what ingredients you are adding in the process
    (that means no adding saturated fat and salt!).
  </p>
</div>





{% endblock %}
