{% extends 'layout.html' %}

{% block body %}
  <div class="container-fluid">
    <div id="intro" class="view">
      <div class="full-bg-img">
        <img src="../static/img/home2-min.jpeg" class="img-responsive center-block" alt="Responsive image">
      </div>
    </div>
    <div class="welcome-title">
      <p class="quote">
        <span class="welcome">Welcome</span> <br /><span class="qoute2">"Health requires healthy food" </span>
      </p>
    </div>
    <div class="btns-login">
      {% if session.logged_in == NULL %}
        <a href="/register" class="btn btn-primary btn-lg">Register</a>
        <a href="/login" class="btn btn-success btn-lg">Login</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
