{% extends 'layout.html' %}

{% block body %}
  <div class="home">
    <div class="img-wrapper">
      <img src="../static/img/home-min.jpg" class="img-responsive center-block" alt="Responsive image">
      <div class="filter"></div>
      <p class="quote">
        <span class="welcome">Welcome</span> <br /><span class="chef">to EasyChef.</span>
      </p>
    </div>
    <div class="login">
      <div class="square">
        <h1 class="app-title">Welcome to EasyChef</h1>
        <p class="lead">
          Cooking is all about people. Food is maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people get together to eat.
        </p>
        <div class="btns-log">
          {% if session.logged_in == NULL %}
            <a href="/register" class="btn btn-primary btn-lg">Register</a>
            <a href="/login" class="btn btn-success btn-lg">Login</a>
          {% endif %}
        </div>
      </div>


    </div>
  </div>

{% endblock %}
