{% extends 'layout.html' %} {% block body %}
<div class="content-wrapper">
  <div class="container">
    <h1 class="recipe-title">{{recipe.title}}</h1>
    <small class="written">Written by {{session['username']}}</small>
    <div class="row single-recipe-wrapper">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 reviews-chef">
            <div class="reviews">
              Reviews: {{recipe.reviews}}
            </div>
            <div class="chef">
              Chef: {{recipe.chef}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="thumbnail">
              <img src="../static/img/home-min.jpg" class="img-responsive center-block" alt="Responsive image">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="row cook-addit">
              <h3>Cooking Time</h3>
              <div>
                Total: {{recipe.time.total}} h
              </div>
              <div>
                Prep: {{recipe.time.prep}} min
              </div>
              <div>
                Cook: {{recipe.time.cook}} min
              </div>
              <div>
                Inactive: {{recipe.time.inactive}} min
              </div>
            </div>
            <div class="row cook-addit">
              <h3>Additional</h3>
              <div class="servings">
                Yield: {{recipe.servings}} servings
              </div>
              <div class="level">
                Level: {{recipe.level}}
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <h3>Nutrition</h3>
            <div>
              Calories: {{recipe.nutrition.calories}} calorie
            </div>
            <div>
              Total Fat: {{recipe.nutrition.total_fat}} grams
            </div>
            <div>
              Saturated Fat: {{recipe.nutrition.saturated_fat}} grams
            </div>
            <div>
              Cholesterol: {{recipe.nutrition.cholesterol}} milligrams
            </div>
            <div>
              Sodium: {{recipe.nutrition.sodium}} milligrams
            </div>
            <div>
              Carbohydrats: {{recipe.nutrition.carbohydrats}} grams
            </div>
            <div>
              Diestary Fiber: {{recipe.nutrition.diestary_fiber}} grams
            </div>
            <div>
              Protein: {{recipe.nutrition.protein}} grams
            </div>
            <div>
              Sugar: {{recipe.nutrition.sugar}} grams
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="ingredients">
              <h3>Ingredients</h3> {{recipe.ingredients}}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="directions">
              <h3>Directions</h3> {{recipe.directions}}
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3>Categories</h3> {{recipe.categories}}
          </div>
        </div>
      </div>
    </div>
    <div class="row center">
      <canvas id="chart" width="600" height="400"></canvas>
    </div>
  </div>
</div>

<script>
     var pieData = [
              {% for item,label,colors in set %}
                  {
                      value: {{item}},
                      label: "{{label}}",
                      color : "{{colors}}"
                  },
                  {% endfor %}


           ];

     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");

     steps = 10
     max = 10
     // draw pie chart
     new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

</script>


{% endblock %}
