{% extends 'layout.html' %}

{% block body %}
<div class="container recipes-wrapper">
  <h1 class="recipes-title">Recipes</h1>
  <div class="row">
    <div class="col-lg-3">
      <div class="well">
        <h3>Filter:</h3>
        <form>
          <label>Ingredients</label>
          <select class="form-control">
            <option>Chicken</option>
            <option>Pork</option>
            <option>Beef</option>
            <option>Seafood</option>
            <option>Vegetables</option>
          </select>
        </form>
        <form>
          <label>Meal</label>
          <select class="form-control">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
        </form>
        <form>
          <label> Type of Course</label>
          <select class="form-control">
            <option>Soup</option>
            <option>Salads</option>
            <option>Fish</option>
            <option>Main Course</option>
            <option>Dessert</option>
          </select>
        </form>
        <form>
          <label> Difficulty</label>
          <select class="form-control">
            <option>Easy</option>
            <option>Medium</option>
            <option>Hard</option>
          </select>
        </form>
        <input type="submit" class="btn btn-primary btn-block" />
      </div>
    </div>
    <div class="col-lg-9 span6">
      <div class="row" id="pageRecipes">
        {% for recipe in recipes %}
        <div  class="col-lg-4">
            <div class="thumbnail recipe-container">
              <img src="../static/img/home-min.jpg" class="img-responsive  recipe-img" alt="Responsive image">
              <div class="gradient-img"></div>
              <a class="recipe-title" href="recipes/{{recipe._id}}">{{recipe.title}}</a>
              <p class="cal descript-text">Calories: {{recipe.nutrition.calories}}</p>
              <p class="time descript-text">Time: {{recipe.time.total}} h</p>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="span6 pages">
      <div class="pagination">
        <ul class="pager"></ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
